@mixin boxDesign {
    display: flex;
    border-left: 5px solid $secondary-color;
    border-radius: 3px;
    overflow: hidden;    
}

@mixin contactInnerPara {
    p {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        color: $text-dark;

        a {
            text-decoration: none;
            color: $text-dark;
        }

        &.text-light {
            font-size: 14px;
            color: $text-light-gray;
        }
    }
}

@mixin customCheckbox {
/* The container */
.container {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid #D51D25;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.contact-body {
    background-color: $primary-color;
    padding: 45px 0px 60px;

    h3 {
        font-size: 20px;
        font-weight: 600;
        color: $text-light;
        text-align: center;
    }

    .contact-info-wrap {
        width: 100%;
        @include boxDesign;
        margin: 35px 0px 25px;

        .contact-info-card {
            background-color: #fff;
            width: 100%;
            padding: 20px 40px;

            &:nth-child(even){
                background-color: $background-gray;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            h4 {
                font-size: 14px;
                letter-spacing: 1px;
                color: $primary-dark-color;
                font-weight: 700;
                span {
                    font-weight: 700;
                    color: $secondary-color;
                }
            }

            li {
                position: relative;
                list-style-type: none;
                padding: 15px 0px 15px 30px;
                border-bottom: 1px dashed rgba($text-gray, .4);

                img {
                    position: absolute;
                    left: 0;
                }

                @include contactInnerPara;

            }

            button {
                cursor: pointer;
                font-size: 13px;
                padding: 6px 12px;
                background-color: $secondary-color;
                color: $text-light;
                border: none;
                border-radius: 1px;
            }

            .map-wrap {
                display: flex;
                width: 100%;
                margin-top: 10px;

                .map-img {
                    position: relative;
                    @include flexCenter;
                    width: 100%;
                    background-color: #fff;
                    padding: 10px;

                    &::after {
                        @include pointDownElement;
                        left: auto;
                        right: -8px;
                        top: 50%;
                        transform: rotate(45deg) translateX(-50%);
                        background-color: #fff;
                    }
                }

                .map-btn {
                    @include flexCenter;
                    width: 100%;
                    padding: 10px;
                    background-color: #0000001C;
                }
            }
        }
    }

    .contact-nri-wrap {
        width: fit-content;
        @include boxDesign;
        
        .contact-nri-label {
            padding: 20px 37px 20px 20px;
            background-color: $accent-primary;
            @include flexCenter;
            color: $primary-dark-color;

            h4 {
                font-weight: 700;
            }
        }
        
        .contact-nri-info-wrap {
            background: #fff;
            margin: 3px 0px;
            ul {
                position: relative;
                display: flex;
                padding: 10px 30px;

                li {
                    position: relative;
                    list-style-type: none;
                    padding: 10px 20px 10px 80px;
                    
                    .float-left {
                        display: flex;
                        gap: 5px;
                        left: 0;
                        position: absolute;
                    }

                    &:first-child {
                        border-right: 1px dashed rgba($text-gray, .4);
                        margin-right: 20px;
                    }

                    @include contactInnerPara;
                }

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    width: 0;
                    left: -17px;
                    height: 0;
                    border-style: solid;
                    border-width: 40px 17px 40px 0px;
                    border-color: transparent #fff transparent transparent;
                }
            }
        }
    }
}

.contact-footer {
    background-color: $background-gray;
    padding: 30px 0px;

    .contact-footer-box-wrap {
        display: flex;

        .contact-footer-box {
            width: 100%;

            h4 {
                color: $primary-dark-color;
                margin-bottom: 5px;
                font-weight: 700;
            }

            p {
                font-size: 14px;
            }

            .input-wrap {
                max-width: 304px;
                margin: 20px 0px 10px;
                @include flexCenter;

                input {
                    font-size: 14px;
                    border: none;
                    padding: 10px;
                    flex-grow: 1;
                    outline: none;
                }
                button {
                    @include buttonSmall;
                }
            }

            .consent-wrap {
                max-width: 304px;

                @include customCheckbox;
                
                p {
                    font-size: 13px;
                    color: $text-gray;
                    padding-left: 25px;
                }
            }

            &:nth-child(2){
                .input-wrap {
                    flex-wrap: wrap;
                    max-width: 360px;

                    input {
                        flex-grow: 0;
                    }

                    & > div {
                        margin-left: 6px;
                        a {
                            width: 34px;
                            height: 34px;
                            @include flexCenter;
                            border: 1px solid $text-gray;
                            border-radius: 2px;
                        }
                    }
                }                
            }

            & .socials {
                max-width: 188px;
                margin-left: 25px;

                h4 {
                    margin: 5px 0px 20px;
                }

                .socials-icon-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 17px;
                    a {
                        text-decoration: none;
                        height: 34px;
                        width: 34px;
                        background-color: $text-gray;
                        @include flexCenter;
                        border-radius: 50%;
                    }
                }

            }
        }
    }
}