$primary-color: #005E9E;
$primary-dark-color: #05396E;
$primary-light-color: #0069B1;
$secondary-color: #D51D25;

$text-dark: #333333;
$text-light: #fff;
$text-gray: #798791;
$text-dark-gray: #717171;
$text-light-gray: #999999;

$accent-primary: #6BC3FF;
$accent-primary-light: #EAF7FD;

$background-light: #F2F4F6;
$background-gray: #EBEBEB;
$background-grayish-blue: #EBF3F9;
$background-blue: #0368AD;
$background-light-blue: #8ADDFF;

$border-gray: #91A5AD;
$border-light-gray: #D0DCE3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.inner-wrap {
    max-width: 1292px;
    padding: 0px 30px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

@media screen and (max-width: 1262px) {
    .inner-wrap {
        padding: 0px 30px;
    }
}

nav ul li {
    list-style-type: none;
    display: inline;
}

@mixin buttonLight {
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
    padding: 11px 23px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: $secondary-color;
    font-weight: 600;
    letter-spacing: 1px;
}

@mixin buttonDark {
    background-color: $secondary-color;
    color: #fff;
    border: 1px solid $secondary-color;
    margin-left: 10px;   
    
    &:hover {
        background-color: #C2131B;
    }
}

@mixin buttonCenter {
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;
    @include buttonLight;
    @include buttonDark;
    margin-left: auto;
    margin-right: auto;
}

@mixin buttonSmall {
    cursor: pointer;
    font-size: 13px;
    padding: 10px 15px;
    background-color: $secondary-color;
    color: $text-light;
    border: none;
    border-radius: 3px;
}

@mixin pointDownElement {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: $primary-color;
    transform: rotate(45deg) translateX(-50%);
    left: 50%;
}

@mixin borderEdges($url-before,$url-after) {
    &::before {
        position: absolute;
        content: $url-before;
        left: -4px;
        top: -4px;
    }
    &::after {
        position: absolute;
        content: $url-after;
        right: -5px;
        bottom: -8px;
    }
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transistion-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin media-376 {
    @media screen and (max-width: 376px) {
        @content;
    }
}

@mixin media-414 {
    @media screen and (max-width: 414px) {
        @content;
    }
}

@mixin media-480 {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin media-568 {
    @media screen and (max-width: 568px) {
        @content;
    }    
}

@mixin media-667 {
    @media screen and (max-width: 668px) {
        @content;
    }    
}

@mixin media-681 {
    @media screen and (max-width: 681px) {
        @content;
    }    
}

@mixin media-736 {
    @media screen and (max-width: 736px) {
        @content;
    }    
}

@mixin media-768 {
    @media screen and (max-width: 768px) {
        @content;
    }    
}

@mixin media-774 {
    @media screen and (max-width: 774px) {
        @content;
    }    
}

@mixin media-798 {
    @media screen and (max-width: 798px) {
        @content;
    }    
}

@mixin media-812 {
    @media screen and (max-width: 812px) {
        @content;
    }
}

@mixin media-940 {
    @media screen and (max-width: 940px) {
        @content;
    }
}

@mixin media-1024 {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-1136 {
    @media screen and (max-width: 1136px) {
        @content;
    }
}

@mixin media-1980 {
    @media screen and (min-width: 1980px) {
        @content;
    }
}

@mixin arrows {
    .plans-arr {
        background-color: #798791;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        display: flex;
        border-radius: 3px;
        overflow: hidden;
    }

    .plans-arr-left {
        left: 20px;
    }

    .plans-arr-right {
        right: 20px;
    }

    .plans-arr-right.active {
        background-color: $secondary-color;
        cursor: pointer;

        span {
            background-color: #69d3ff;
            font-size: 12px;
            padding: 6px 10px; 
            font-weight: 600;
            margin: -10px 12px -10px -10px;
        }
    }
}

@mixin slickArrows {
    .slick-prev {
        left: -51px;

        &::before {
            content: url('../images/plans-icons/left-arr.svg');
            opacity: 1 !important;
        }            
    }

    .slick-next {
        right: -51px;
        
        &::before {
            content: url('../images/plans-icons/right-arr.svg');
            opacity: 1 !important;
        }
    }

    .slick-prev , .slick-next {
        z-index: 2;
        width: 30px;
        height: 35px;
        background-color: $secondary-color;
        border-radius: 3px;
    }        

    .slick-next.slick-disabled, .slick-prev.slick-disabled {
        background-color: #798791;
        cursor: default;
    }    
}

@mixin slickImgArrows {
    .slick-prev {
        left: auto;
        right: 26%;
        top: 88%;

        &::before {
            content: url('../images/common/left-arrow.png');
            transform: rotate(45deg);
            opacity: 1 !important;
        }            
    }

    .slick-next {
        top: 88%;
        right: 20%;
        
        &::before {
            content: url('../images/common/next.png');
            opacity: 1 !important;
        }
    }

    .slick-prev , .slick-next {
        z-index: 2;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 3px;
    }        

    .slick-next.slick-disabled, .slick-prev.slick-disabled {
        background-color: #798791;
        cursor: default;
    }    
}