.mobile-nav {
    display: none;
}

.top-nav {
    background: $primary-color;
    color: $accent-primary;
    padding-top: 15px;

    &__list {
        @include flexCenter;
        padding-left: 10%;
        ul:nth-child(2){
            margin-left: auto;
        }
    }
}

.top-nav ul li {
    padding: 0px 5px;
    
    a {
        text-decoration: none;
        color: $accent-primary;
        font-size: 14px;
    }
    a:hover {
        color: $text-light;
    }

    a.active {
        color: $text-light;
        position: relative;
    }
    a.active::after {
        @include pointDownElement;
        bottom: -20px;
    }
}

.profile-action {
    display: flex;

    &__icon {
        padding: 12px 15px;
        background-color: #004E90;
    }

    &__icon:nth-child(1) {
        position: relative;
        margin: 0px 2px 0px 10px;

        span {
            position: absolute;
            bottom: 12px; 
            right: 10px;
            font-size: 11px;
            background: linear-gradient(#fff,#000);
            color: $text-light;
            padding: 0px 4px; 
            border-radius: 50%;
        }
    } 
}

.bottom-nav {

    position: relative;
    box-shadow: 0 0 3px #00000036;

    .logo {
        padding: 10px 10px 0px 0px;

        img {
            max-width: 100%;
        }
    }

    nav a {
        text-decoration: none;
        color: $text-dark;
        padding-right: 20px;

        img {
            margin: 2px 0px 1px;
        }
    }

    .search-wrap {
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 100%;

        .search-bar {
            border-left: 1px solid #ddd;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            height: 100%;

            input {
                font-size: 15px;
                display: none;
                border: none;
                outline: none;
            }

            img {
                cursor: pointer; 
            }
        }

        .insurance-dropdown {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 15px 10px;
            gap: 5px;
            background-color: #69D3FF;

            .insurance-dropdown-desc {
                position: relative;
                padding-right: 20px;
            
                img {
                    position: absolute;
                    right: 3px;
                    bottom: 4px;
                }
            }
        }
    }
}

.section-divide-wrap {
    width: 100%;
    display: flex;

    .section-divide:nth-child(1) {
        width: 10%;
    }
    .section-divide:nth-child(2) {
        width: 90%;
        display: flex;
        align-items: center;
    }
}