.hero-wrap {
    position: relative;
    max-width: 1980px;
    margin: auto;

    .hero-img-carousel-wrap {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 0;
        

        .hero-img-carousel {
            width: 50%;
            height: 100%;
            
            &:first-child {
                background-color: #cdd5de;
            }

            @include slickImgArrows;

            .slick-slide > div {
                height: 100%;
            }

            .slick-list {
                height: 100%;
            }
    
            .slick-track
            {
                height: 100%;
                display: flex !important;
            }
            
            .slick-slide
            {
                height: inherit !important;
            }             
            
        }        

        .banner-image {
            width: 50%;
            height: 100%;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:last-child { display: none; }
            }
        }
        // background-image: url('../images/hero-banner.png');
        // background-size: cover;
        // background-position: center;       
    }

    .hero-section {
        width: 100%;
        display: flex;
        
        .slider-wrap {
            z-index: 1;
            width: 50%;
            position: relative;
            background-color: #ffffffd9;
            padding: 50px;
            margin-bottom: 0px;

            &::before {
                position: absolute;
                content: url('../images/common/top-left-red-arrow.svg');
                left: 30px;
                top: 30px;
            }
            &::after {
                position: absolute;
                content: url('../images/common/bottom-right-red-arrow.svg');
                right: 25px;
                bottom: 20px;
            }

            h2 {
                font-weight: 700;
                color: $primary-dark-color;

                span {
                    font-weight: 700;
                    color: $secondary-color;
                }
            }

            p {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 10px 0px;

                span {
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    transform: rotate(45deg);
                    margin: 0px 10px;
                }
            }

            hr {
                border: 1px solid #E1E1E1;
                margin: 15px 0px 20px;
            }

            .slide {
                padding: 10px
            }

            .slide button {
                @include buttonLight;
            }

            button.invert {
                @include buttonDark;
            }

            .slick-dots {
                position: relative;
                bottom: -10px;
                text-align: left;

                li {
                    width: 8px;
                    height: 8px;
                    margin: 0px 2.5px;

                    button {
                        width: 8px;
                        height: 8px;

                        &::before {
                            font-size: 9px;
                            width: 8px;
                            height: 8px;                            
                        }

                        &:hover::before {
                            opacity: 0.4;
                        }
                    }

                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }                 
                }

                li.slick-active button::before {
                    color: $secondary-color;
                    opacity: 1;
                }
            }            
        }

        .mobile-side-tab {
            display: none;
        }
    }
}

.hero-footer {
    background-color: $secondary-color;
    padding: 20px 0px 25px;
    position: relative;

    .link-wrap {
        display: flex;
        position: absolute;
        bottom: 25px;
        text-decoration: none;
        color: $text-light;
        
        span {
            position: relative;
            padding: 5px 21px 5px 10px;
            background-color: $primary-dark-color;
            font-size: 14px;
        }

        span::before {
            position: absolute;
            content: url("../images/hero-icons/link-border.png");
            top: -38px;
            left: -6px;
        }

        .link-wrap-img {
            position: relative;
            padding: 10px 24px 10px 10px;
            background-color: #fff;
            display: flex;
            align-items: center;
        }
        .link-wrap-img::after {
            position: absolute;
            content: "";
            top: 0;
            width: 0;
            right: 0;
            height: 0;
            border-style: solid;
            border-width: 22px 15px 22px 0;
            border-color: transparent $secondary-color transparent transparent;
        }
    }

    .hero-footer-search {
        text-align: center;
        * {
            font-size: 15px;
        }

        p {
            font-size: 20px;
            color: $text-light;
            margin-bottom: 10px;
        }

        &__bar {
            max-width: 600px;
            margin: auto;
            background-color: $text-light;
            display: flex;
            border-radius: 3px;
            overflow: hidden;

            img {
                padding: 0px 10px 0px 20px;
            }

            input {
                border: none;
                flex-grow: 1;
                outline: none;
                color: $text-gray;
            }

            button {
                cursor: pointer;
                background-color: $primary-dark-color;
                padding: 15px 20px;
                border: none;
                border-radius: 3px;
                color: $text-light;
                font-weight: 400;
                letter-spacing: 1px;

                img {
                    display: none;
                }
            }
        }
    }
}