.insurance-wrap {
    
    background-color: $background-light;

    h3 {
        font-size: 18px;
        color: $secondary-color;
        padding: 50px 0px 20px;
        text-align: center;
        font-weight: 700;

        span {
            font-weight: 700;
            color: $primary-dark-color;
        }

    }
    
    .insurance-slider-wrap {
        position: relative;
        display: flex;
        gap: 18px;
        margin-bottom: 60px;

        .insurance-slide {
            display: flex;
            flex-direction: column;
            width: 100%;
            background: #fff;
            padding: 20px;
            border-radius: 3px;

            h4 {
                font-size: 15px;
                color: $text-dark;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .insurance-slide-cont {
                font-size: 14px;
                color: $text-gray;

                p {
                    span {
                        display: none;
                    }
                }
                a {
                    color: $secondary-color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .insurance-slide-btn {
                flex-grow: 1;
                display: flex;
                align-items: flex-end;
                button {
                    position: relative;
                    margin-top: 10px;
                    @include buttonSmall;
                    padding: 6px 25px;                
                }
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px #ccc;

                h4 {
                    color: $primary-color;
                }

                button::after {
                    position: absolute;
                    right: 8px;
                    content: url('../images/insurance-icons/arrow-right.svg');
                }
            }

            .slick-dots {
                position: relative;
                bottom: -23px;
    
                li {
                    width: 6px;
                    height: 6px;
                    margin: 0px 2.5px;
    
                    button {
                        width: 6px;
                        height: 6px;
    
                        &::before {
                            font-size: 6px;
                            width: 6px;
                            height: 6px;                            
                        }
    
                        &:hover::before {
                            opacity: 0.4;
                        }
                    }
    
                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }                 
                }
    
                li.slick-active button::before {
                    color: $secondary-color;
                    opacity: 1;
                }
            }  

        }
        // @include arrows;
        // .plans-arr {
        //     display: none;
        // }
        // .plans-arr-left {
        //     left: -70px;
        // }
    
        // .plans-arr-right {
        //     right: -70px;
        // }
              
    }

    .insurance-footer-top {
        background-color: #fff;
        border-top: 5px solid $border-light-gray;
        border-bottom: 1px solid $border-light-gray;

        ul {
            list-style-type: none;
            display: flex;
            li {
                @include flexCenter;
                gap: 10px;
                border-right: 1px solid $border-light-gray;

                p {
                    font-size: 13px;
                    color: $text-gray;
                    span {
                        display: block;
                    }
                }

                &.flex-column {
                    flex-direction: column;
                }

                li {
                    padding: 10px 20px !important;
                }

                &:first-child {
                    padding-right: 35px;
                }
            }
        }
    }

    .insurance-footer-bottom {
        background-color: #fff;
        border-bottom: 1px solid $border-light-gray;

        ul {
            list-style-type: none;
            display: flex;
            li {
                @include flexCenter;
                gap: 5px;
                border-right: 1px solid $border-light-gray;
                padding: 10px 20px;

                p {
                    font-size: 13px;
                    color: $text-gray;
                    span {
                        display: block;
                    }
                }

                &.flex-column {
                    flex-direction: column;
                }

                &:first-child {
                    padding-left: 0px;
                }

            }

        }
    }
}