html {
    scroll-behavior: smooth;
}

@import 'config';
@import 'head';
@import 'hero';
@import 'plans';
@import 'know';
@import 'kc';
@import 'tools';
@import 'about';
@import 'contact';
@import 'insurance';
@import 'footer';
@import 'responsive';

.page-head {
    font-size: 40px;
    color: $primary-dark-color;
    text-align: center;
    font-weight: 600;

    span {
        color: $secondary-color;
        font-weight: 600;
    }
}

.txt-up {
    text-transform: uppercase;
}